@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url("https://use.typekit.net/plo2dqb.css");

body {
	font-family: proxima-nova-condensed, sans-serif;
	font-weight: 400;
	font-style: normal;
}
.homepage {
	padding-top: 0;
}

.img-responsive {
	width: 100%;
}
.red {
	color: red;
}
.green {
        color: #198754;	
}	
p {
	font-size: 20px;
	line-height: 1.2;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.big-heading {
	font-family: 'Montserrat', sans-serif;
	font-size: calc(1.375rem + 1.5vw);
	margin-bottom: 20px;
}

.dark-blue-heading {
	color: #152c4f;
}

.uppercase {
	text-transform: uppercase;
	font-weight: bold;
}

.bolded {
	font-weight: bold;
}

button {
	background-color: #fcb032;
	padding: 14px 40px;
	padding-top: 20px;
	border-radius: 40px;
	border: none;
	font-weight: bold;
	color: #621212;
	box-shadow: -2px 4px 0px 0px rgba(0, 0, 0, 0.5);
	text-align: center;
}

.navbar {
	transition: 0.5s;
}

.navbar.scrolled {
	background: rgba(0, 0, 0, 0.8);
}

.navbar-brand img {
	transition: 0.5s;
	max-width: 100%;
}

.scrolled .navbar-brand img {
	max-width: 100px;
}

li.nav-item {
	align-items: center;
	display: flex;
	text-transform: uppercase;
	margin-right: 10px;
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
}

.hero-headline {
	color: #068dc6;
}

.headline-underline {
	position: relative;
	z-index: 1;
}

span.headline-underline:before {
	content: '';
	position: absolute;
	height: 5px;
	width: 100%;
	background: orange;
	bottom: 6px;
	z-index: 0;
}

.main-section {
	padding: 120px 0;
	display: flex;
	align-items: center;
}

.mack-bg {
	position: relative;
	overflow: hidden;
	padding: 0;
	display: flex;
	align-items: center;
}

.mack-bg:before {
	content: '';
	background-image: url(/img/mack-blue-bg.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	width: 50%;
	min-height: 300px;
	display: block;
	position: absolute;
	right: 0;
	background-size: cover;
	bottom: 0;
	top: 0;
}

.hero-bg-section {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.hero-bg-section > div {
	flex: 1;
}

.ball-player {
	display: block;
	position: absolute;
	left: -180px;
	top: -95px;
	width: 700px;
}

.padding-right-40 {
	padding-right: 40px;
}

.about-box {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px;
	color: white;
	font-weight: bold;
	flex-direction: column;
}

.about-box img {
	max-width: 150px;
	display: block;
	margin-bottom: 20px;
	height: 80px;
	width: auto;
}

/******** WINNER SECTION ********/

.winner {
	background: #15436b;
	padding: 60px 0;
	color: white;
	border-radius: 4px;
	margin-bottom: 20px;
	margin-top: 20px;
	position: relative;
}

.winner-middle:before {
	content: '';
	background: url(../img/winner-borders.png);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	background-size: cover;
	background-position: center center;
}

.winner * {
	z-index: 1;
	position: relative;
}

.winner-middle {
	padding: 80px 0;
	margin-top: 0;
}

.win-amount {
	font-size: 80px;
	font-weight: bold;
	text-shadow: 2px 3px #fcb032;
}

.winner h3 {
	font-size: 30px;
	font-weight: bold;
	text-shadow: 2px 3px #068cc5;
}

.winner p {
	font-size: 24px;
}

/******* FOOTER SECTION ******/

.footer-upper.main-section {
	background-position: 80%;
}

.footer-text {
	margin-top: 60px;
	padding-top: 60px;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

/* MOBILE NAV */

button.navbar-toggler.collapsed {
	border: none;
	box-shadow: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 767px) {
	.navbar {
		background: rgba(0, 0, 0, 0.8);
	}
	ul.navbar-nav {
		width: 100%;
	}
	li.nav-item {
		justify-content: center;
		margin-bottom: 10px;
	}
	img.ball-player {
		display: none;
	}
	.mack-bg:before {
		display: none;
	}
}
